<div>
  <h2 id="page-heading" data-cy="AccountBankHeading">
    <span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.home.title">Account Banks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-bank"
        [routerLink]="['/account-bank/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.home.createLabel"> Create a new Account Bank </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="accountBanks?.length === 0">
    <span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.home.notFound">No accountBanks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="accountBanks && accountBanks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.nomeDaContaBancaria">Nome Da Conta Bancaria</span></th>
          <th scope="col"><span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.valorInicial">Valor Inicial</span></th>
          <th scope="col"><span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.codContaExtrato">Cod Conta Extrato</span></th>
          <th scope="col"><span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.digito">Digito</span></th>
          <th scope="col"><span jhiTranslate="emdiasgatewayApp.emdiasAccountBank.workSpace">Work Space</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accountBank of accountBanks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/account-bank', accountBank.id, 'view']">{{ accountBank.id }}</a>
          </td>
          <td>{{ accountBank.nomeDaContaBancaria }}</td>
          <td>{{ accountBank.valorInicial }}</td>
          <td>{{ accountBank.codContaExtrato }}</td>
          <td>{{ accountBank.digito }}</td>
          <td>
            <div *ngIf="accountBank.workSpace">
              <a [routerLink]="['/work-space', accountBank.workSpace?.id, 'view']">{{ accountBank.workSpace?.nome }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/account-bank', accountBank.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/account-bank', accountBank.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(accountBank)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
