<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-account-bank-heading"
        data-cy="AccountBankCreateUpdateHeading"
        jhiTranslate="emdiasgatewayApp.emdiasAccountBank.home.createOrEditLabel"
      >
        Create or edit a Account Bank
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="emdiasgatewayApp.emdiasAccountBank.nomeDaContaBancaria"
            for="field_nomeDaContaBancaria"
            >Nome Da Conta Bancaria</label
          >
          <input
            type="text"
            class="form-control"
            name="nomeDaContaBancaria"
            id="field_nomeDaContaBancaria"
            data-cy="nomeDaContaBancaria"
            formControlName="nomeDaContaBancaria"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="emdiasgatewayApp.emdiasAccountBank.valorInicial" for="field_valorInicial"
            >Valor Inicial</label
          >
          <input
            type="number"
            class="form-control"
            name="valorInicial"
            id="field_valorInicial"
            data-cy="valorInicial"
            formControlName="valorInicial"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="emdiasgatewayApp.emdiasAccountBank.codContaExtrato" for="field_codContaExtrato"
            >Cod Conta Extrato</label
          >
          <input
            type="text"
            class="form-control"
            name="codContaExtrato"
            id="field_codContaExtrato"
            data-cy="codContaExtrato"
            formControlName="codContaExtrato"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="emdiasgatewayApp.emdiasAccountBank.digito" for="field_digito">Digito</label>
          <input type="text" class="form-control" name="digito" id="field_digito" data-cy="digito" formControlName="digito" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="emdiasgatewayApp.emdiasAccountBank.workSpace" for="field_workSpace"
            >Work Space</label
          >
          <select class="form-control" id="field_workSpace" data-cy="workSpace" name="workSpace" formControlName="workSpace">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="workSpaceOption.id === editForm.get('workSpace')!.value?.id ? editForm.get('workSpace')!.value : workSpaceOption"
              *ngFor="let workSpaceOption of workSpacesSharedCollection; trackBy: trackWorkSpaceById"
            >
              {{ workSpaceOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
